name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint-js:
    name: lint:js
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - run: pnpm lint:js

  lint-hbs:
    name: lint:hbs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - run: pnpm lint:hbs

  lint-types:
    name: lint:types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - run: pnpm lint:types

  test:
    name: Test
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Tests
        run: pnpm test
      # For the Try Scenarios
      - id: set-matrix
        run: |
          echo "matrix=$(pnpm -s dlx @embroider/try list)" >> $GITHUB_OUTPUT


  # test-ember-link:
  #   name: Ember Link
  #   runs-on: ubuntu-latest
  #   needs: [test]

  #   strategy:
  #     matrix:
  #       scenario:
  #         - ember-link-v1
  #         - ember-link-v2
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup
  #       uses: ./.github/actions/setup
  #     - name: Tests
  #       run: pnpm run -r --parallel --aggregate-output test
  #     - name: Try Scenario
  #       run: pnpm exec ember try:one ${{ matrix.scenario }} --skip-cleanup
  #       working-directory: test-app

  try-scenarios:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    needs: "test"
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.test.outputs.matrix)}}

    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Apply Scenario
        run: pnpm dlx @embroider/try apply ${{ matrix.name }}
      - name: Install Dependencies
        run: pnpm install --no-lockfile
      - name: Run Tests
        run: pnpm test
        env: ${{ matrix.env }}
